body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px; /*Pour pas que le trait fasse toute la largeur de la page*/
}

#errors{
    color: coral;
}

#board{
    width: 450px; /* je définis la largeur du tableau*/
    height: 450px; /*Pareil avec la hauteur*/
    background-color: blueviolet;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 48px;
    height: 48px;
    border: 1px solid grey;
    font-size: 20px; /* Correspond à la taille du chiffre qui sera dans la case*/
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numbers{
    width: 450px;
    height: 50px;
    background-color: blue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.numberPresent{
    width: 48px;
    height: 48px;
    border: 1px solid black;
    font-size: 20px; /* Correspond à la taille du chiffre qui sera dans la case*/
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}